@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf") format('truetype');
}


@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/chakrapetch/static/ChakraPetch-Bold.woff") format('font-woff');
}